/********** Template CSS **********/
:root {
    --primary: #848484;
    --secondary: #5e6585;
    --light: #ffffff;
    --dark: #454545;
	--warning:#ffc107;
    ;
}


/* Navbar container */
div.nav-container{
    min-height: 115px !important;
    padding: 25px !important;
}



object {
    width: 100%;
    height: 100%;
}


section, footer {
    position: relative; 
    z-index: 3; 
}

/* #endregion */



#journey, #testimonial {
	background-color: rgba(255, 255, 255, 0.9) !important;
	border-radius: 10px !important;
	box-shadow: 15px 15px 15px rgba(6, 31, 255, 0.3);
}

.contact-bttn{
	color: var(--light);
	border-radius: 5px;
	border: 3px solid var(--sec) !important;
} 

.col .project-cards .card-text {
    position:absolute;
	left:0;
	top:0;
	background-color: rgba(25,25,25,.9);
	padding: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden; /* Hide overflowing content */
    transition: opacity 1s ease-in-out, max-height 2s ease;
}

.col:hover .project-cards .card-text {
	padding: 16px;
    max-height: 100%; /* Assume a max height */
    opacity: 1;
}

.resume-container {

	overflow:auto !important;
}

/* #region animated particles */
/* https://codepen.io/alvarotrigo/pen/xxaaaGx */
.main-bg {
	/* adjust overlay bg for particle animation */
	background-color: rgba(25,25,25,.5) !important; 
    position: relative;
    z-index: 2;
}

section.particle-container{
	display: flex; 
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: #000;
	overflow: hidden;
	z-index: 2;
}

.glowing {
	position: relative;
	min-width: 700px;
	height: 550px;
	margin: -150px;
	transform-origin: right;
	animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
	transform-origin: left;
  }
  
  @keyframes colorChange {
	0% {
	  filter: hue-rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  filter: hue-rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  .glowing span {
	position: absolute;
	top: calc(80px * var(--i));
	left: calc(80px * var(--i));
	bottom: calc(80px * var(--i));
	right: calc(80px * var(--i));
  }
  
  .glowing span::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -8px;
	width: 15px;
	height: 15px;
	background: #f00;
	border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
	background: rgba(134,255,0,1);
	box-shadow: 0 0 20px rgba(134,255,0,1),
	  0 0 40px rgba(134,255,0,1),
	  0 0 60px rgba(134,255,0,1),
	  0 0 80px rgba(134,255,0,1),
	  0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
	background: rgba(255,214,0,1);
	box-shadow: 0 0 20px rgba(255,214,0,1),
	  0 0 40px rgba(255,214,0,1),
	  0 0 60px rgba(255,214,0,1),
	  0 0 80px rgba(255,214,0,1),
	  0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
	background: rgba(0,226,255,1);
	box-shadow: 0 0 20px rgba(0,226,255,1),
	  0 0 40px rgba(0,226,255,1),
	  0 0 60px rgba(0,226,255,1),
	  0 0 80px rgba(0,226,255,1),
	  0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
	animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
	animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
	animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
	0% {
	  transform: rotate(180deg);
	}
	50% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-reverse {
	0% {
	  transform: rotate(360deg);
	}
	
	50% {
	  transform: rotate(180deg);
	}
	
	100% {
	  transform: rotate(0deg);
	}
  }

/* #endregion */




@media screen and (max-width: 1024px){
    .col .project-cards .card-text {
		overflow: auto; /* Hide overflowing content */	
	}
    
}


@media screen and (max-width: 1024px){
    div.resume_container {
        width: 90%;
        height: 100%;
    }
}




@media screen and (min-width: 1024px){
    fieldset{
		margin-left: 15%;
        width: 50vw !important;
    }
}

@media screen and (max-width: 991px){
	.nav-item{
		width: 100px;		
	}
	a.nav-item{
		padding: 4px !important;
	}
}

@media screen and (max-width: 750px){
    fieldset{
		margin-left: 20%;
        width: 50vw !important;
		
    }

}

@media screen and (max-width: 600px){
    fieldset{
		margin-left: 0px;
        width: 100% !important;
    }
}

